.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .card {
    width: 86%;
    max-width: 450px;
    margin: 3rem 0;
    border-radius: 10px;
    background-color: $Dark-desaturated-blue;

    .card__hero picture img {
      max-width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
    }

    .card__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2.199rem 1.4rem;
      text-align: center;

      .card__title {
        font-size: 1.7rem;
        font-weight: bold;
        font-family: $family;

        span {
          color: $Soft-violet;
        }
      }

      .card__description {
        font-size: 0.96rem;
        line-height: 1.55rem;
        margin: 0.975rem;
        color: $Slightly-transparent-white;
        font-family: $second-familly;
      }

      .card__experience {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .card__content {
          font-family: $second-familly;

          .experience__data {
            font-weight: $weight-bold;
            font-size: 1.5rem;
            margin-bottom: 0.4rem;
          }

          .name__data {
            letter-spacing: 0.09rem;
            text-transform: uppercase;
            font-size: 0.6rem;
            color: $Slightly-transparent-white;
          }
        }
      }
    }
  }
}
